.advice-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  h3 {
    color: #555;
    margin-top: 30px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .advice-container p {
    font-style: italic;
    color: #777;
    text-align: center;
  }
  
  .advice-container h4 {
    color: #444;
    margin-top: 20px;
  }
  
  .advice-container ul {
    padding-left: 20px;
  }
  
  .advice-container ul li {
    position: relative;
  }
  
  .advice-container ul li:before {
    content: "•";
    position: absolute;
    left: -15px;
    color: #777;
  }
  
  @media (max-width: 600px) {
    .advice-container {
      padding: 10px;
    }
  }

  .advice-warn {
    color: red;
    text-align: center;
    text-transform: capitalize;
    font-size: 18px; 
    font-weight: bold;
  }
  .advice-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #007bff; /* Blue color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .advice-button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
  }
  
  